In [1]:
import pandas as pd
df = pd.read_csv("Mine.csv")

In [2]:
df['Date'] = df['Date'].str.replace("'", "", regex=False)
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [3]:
df = df.drop_duplicates()

In [4]:
columns_to_check = ['Duration', 'Pulse', 'Maxpulse', 'Calories']
for col in columns_to_check:
    df = df[df[col] > 0]

In [5]:
df = df.dropna()

In [6]:
df.reset_index(drop=True, inplace=True)

In [7]:
df.to_csv("Cleaned_Mine.csv", index=False)

In [8]:
df.head()

   Duration       Date  Pulse  Maxpulse  Calories
0        60 2023-10-01  110.0     130.0     409.1
1        60 2023-10-02  117.0     145.0     479.0
2        60 2023-10-03  103.0     135.0     340.3
3        45 2023-10-04  109.0     175.0     282.4
4        45 2023-10-05  117.0     150.0     405.1